body {
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(images/pictures/hs-2007-16-f-1280_wallpaper.jpg);
    margin: 0;
    padding: 0 30px 60px 30px;
    font-family: Times, serif;
    font-size: 18px;
    text-align: center;
    line-height: 150%;
}

div#title {
    text-align: center;
    margin: 40px;
    color: #FFFFFF;
}

div#title a {
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 1px 4px #000000;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 1px 1px #000000;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 1px #000000;
}

h4 {
    margin: 16px 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

p + h4 {
    margin-top: 50px;
}

div#abstract {
    background-color: #FFFFFF;
    padding: 30px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px;
    max-width: 60em;
    display: inline-block;
    text-align: left;
}

p {
    margin: 0 0 14px 0;
    padding: 0;
    text-align: justify;
}

p:last-of-type {
    margin: 0;
}

div#download {
    float: right;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
    perspective: 1200px;
    -moz-perspective: 1200px;
    -webkit-perspective: 1200px;
}

div#download .look-inside {
    display: block;
    margin-left: auto;
}

div#download .book-cover {
    border-radius: 0 7px 7px 0;
    background: #222;
    display: block;
    line-height: 0;
}

div#download .book-cover img {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    transition: transform .5s ease 0s;
    -moz-transition: -moz-transform .5s ease 0s;
    -webkit-transition: -webkit-transform .5s ease 0s;
    transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -webkit-transform: translate3d(0, 0, 2px);
}

div#download .book-cover img:hover {
    transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -webkit-transform: rotateY(-20deg);
}

div#download p {
    text-align: center;
    margin: 0 0 4px 0;
}

div#abstract a {
    color: #1A55AD;
    text-decoration: none;
    font-weight: bold;
}

